/* mopile responsive */
@media (min-width:480px)and(max-width:767px) {
    header{
        color: pink;
     font-size: large;
    }
    body{
        color: purple;
        font-size: medium;
    }
}